# .github/dependabot.yml

version: 2
updates:
# Python dependencies
  - package-ecosystem: "pip"
    directory: "/"
    schedule:
      interval: "monthly"
    
    groups:
      python-dependencies:
        patterns:
          - "*"
    
    open-pull-requests-limit: 3
    
    labels:
      - "dependencies"
      - "python"

# GitHub Actions dependencies
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "yearly"
    
    groups:
      actions-dependencies:
        patterns:
          - "*"

    labels:
      - "dependencies"