REPROJECT_TEST.py
PIPELINE_TEST.py
data/crowns.cpg
data/crowns.dbf
data/crowns.sbn
data/crowns.prj
data/crowns.sbx
data/crowns.shp
data/crowns.shp.xml
data/crowns.shx
data/input_hdrs/mosaic_test
data/input_hdrs/mosaic_test.hdr
data/output_tifs/mosaic_test_32619.tif
data/output_tifs/mosaic_test_32619.tif.aux.xml
data/output_tifs/mosaic_test.tif
data/output_tifs/mosaic_test.tif.aux.xml
data/output_tifs/mosaic_test.tif.ovr
data/results/final_spectral_data.parquet
data/results/final_stats_aggregate.csv
data/results/final_stats.csv
old/geotiff_converter.py
old/main.py
old/extract_spectra.py
old/crown_loader.py
old/raster_loader.py
old/__pycache__/crown_loader.cpython-39.pyc
old/data/crowns.cpg
old/data/crowns.dbf
old/data/crowns.prj
old/data/crowns.sbn
old/data/crowns.sbx
old/data/crowns.shp
old/data/crowns.shp.xml
old/data/crowns.shx
old/input_hdrs/img_test
old/data/test_mosaic.tif
old/input_hdrs/img_test.hdr
old/input_hdrs/mosaic_test.hdr
old/input_hdrs/mosaic_test
old/output_tifs/img_test.tif
old/output_tifs/mosaic_test.tif
unfinished/README.md
unfinished/delineate.py
unfinished/delineation.r
