# mkdocs.yml

site_name: Phytospatial
site_description: A python package for hyperspectral image processing in forestry.
site_url: https://phytospatial.readthedocs.io/
repo_url: https://github.com/Louis-Gm/phytospatial
repo_name: Louis-Gm/phytospatial

theme:
  name: material
  features:
    - navigation.sections
    - content.code.copy
  palette:
    # Light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: blue
      accent: orange
      toggle:
        icon: material/weather-night
        name: Switch to dark mode
    # Dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: blue
      accent: orange
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode

extra_css:
  - stylesheets/extra.css

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.superfences
  - pymdownx.inlinehilite
  
plugins:
  - search
  - mkdocs-jupyter
  - mkdocstrings:
      default_handler: python
      handlers:
        python:
          paths: [src]
          options:
            show_source: true
            show_root_heading: true
            heading_level: 2
  - include-markdown

nav:
  - Home: index.md
  - Project Info:
      - "Installation": installation.md
      - "License": license.md
  - Tutorials:
      - "Pipeline Introduction": examples/extraction_pipeline.ipynb
  # REF_START
  - API Reference:
      - Raster:
          - "Engine": reference/raster/engine.md
          - "Geom": reference/raster/geom.md
          - "Io": reference/raster/io.md
          - "Layer": reference/raster/layer.md
          - "Partition": reference/raster/partition.md
          - "Resources": reference/raster/resources.md
          - "Utils": reference/raster/utils.md
      - "Extract": reference/extract.md
      - "Loaders": reference/loaders.md
      - "Vector": reference/vector.md
  # REF_END
  - Contributing:
      - "Contributing": contributing/contributing.md
      - "Code of Conduct": contributing/code_of_conduct.md
      - "Releasing": contributing/releasing.md
