/* docs/stylesheets/extra.css */

/* light theme */
[data-md-color-scheme="default"] {
  --md-code-bg: #eeeeee; 
  --custom-code-fg: #333333;

  --custom-kw: #8f3f71;      /* Purple */
  --custom-func: #076678;    /* Teal */
  --custom-class: #b57614;   /* Bronze */
  --custom-str: #427b58;     /* Green */
  --custom-comment: #504945; /* Grey */
  --custom-num: #8f3f71;     /* Purple */
  --custom-decor: #af3a03;   /* Red */
}

/* dark theme */

[data-md-color-scheme="slate"] {
  --md-code-bg: #282828; 
  --custom-code-fg: #f8f8f2;

  --custom-kw: #d3869b;
  --custom-func: #83a598;
  --custom-class: #fabd2f;
  --custom-str: #b8bb26;
  --custom-comment: #928374;
  --custom-num: #d3869b;
  --custom-decor: #fe8019;
}

.md-typeset .highlight,
.md-typeset .highlight pre,
.md-typeset .highlight code {
  background-color: var(--custom-bg-color) !important;
  color: var(--custom-fg-color) !important;
}

.md-typeset .highlight {
    box-shadow: none !important;
    border-radius: 2px;
}

/* Keywords */
.highlight .k, .highlight .kn, .highlight .kp, .highlight .kd {
  color: var(--custom-kw) !important;
  font-weight: bold;
}

/* Functions */
.highlight .nf, .highlight .fm {
  color: var(--custom-func) !important;
  font-weight: bold;
}

/* Classes */
.highlight .nc {
  color: var(--custom-class) !important;
  font-weight: bold;
}

/* Strings */
.highlight .s2, .highlight .s1, .highlight .sd {
  color: var(--custom-str) !important;
}

/* Comments */
.highlight .c1, .highlight .cm {
  color: var(--custom-comment) !important;
  font-style: italic;
}

/* Numbers */
.highlight .mi, .highlight .mf, .highlight .kc {
  color: var(--custom-num) !important;
}

/* Decorators */
.highlight .nd {
  color: var(--custom-decor) !important;
}

/* Built-ins */
.highlight .nb {
  color: var(--custom-func) !important;
}