/* docs/stylesheets/extra.css */

/* light theme */
[data-md-color-scheme="default"] {
  --override-bg: #f0efdf; 
  --override-fg: #302d00;

  --header-color: #05368f;

  --custom-kw: #0a8aaa;
  --custom-func: #854700;
  --custom-class: #b57614;
  --custom-str: #96131e;
  --custom-comment: #0d6e2a;
  --custom-num: #8f3f71;
  --custom-decor: #af3a03;
}

/* dark theme */
[data-md-color-scheme="slate"] {
  --override-bg: #2c2c2b; 
  --override-fg: #eeeedb;

  --header-color: #2686e6;

  --custom-kw: #06bac7;
  --custom-func: #2d9b71;
  --custom-class: #fabd2f;
  --custom-str: #b8bb26;
  --custom-comment: #367512;
  --custom-num: #d3869b;
  --custom-decor: #fe8019;
}

.md-typeset .highlight {
  background-color: var(--override-bg) !important;
  border-radius: 2px;
  margin: 1em 0;
}

.md-typeset .highlight pre {
  background-color: var(--override-bg) !important;
  color: var(--override-fg) !important;
  margin: 0 !important;
}

.md-typeset .highlight pre > code {
  background-color: transparent !important;
  color: var(--override-fg) !important;
}

.md-typeset code {
  background-color: var(--override-bg) !important;
  color: var(--override-fg) !important;
}

.md-typeset h1 {
  color: var(--header-color);
}

.highlight .k, .highlight .kn, .highlight .kp, .highlight .kd { color: var(--custom-kw) !important; font-weight: bold; }
.highlight .nf, .highlight .fm { color: var(--custom-func) !important; font-weight: bold; }
.highlight .nc { color: var(--custom-class) !important; font-weight: bold; }
.highlight .s2, .highlight .s1, .highlight .sd { color: var(--custom-str) !important; }
.highlight .c1, .highlight .cm { color: var(--custom-comment) !important; font-style: italic; }
.highlight .mi, .highlight .mf, .highlight .kc { color: var(--custom-num) !important; }
.highlight .nd { color: var(--custom-decor) !important; }
.highlight .nb { color: var(--custom-func) !important; }