:root {
  --custom-code-bg: #b1ab8b;
  --md-code-bg-color: var(--custom-code-bg);
}

[data-md-color-scheme="default"] {
  --custom-code-fg: #282828;
  --custom-kw: #8f3f71;
  --custom-func: #076678;
  --custom-class: #b57614;
  --custom-str: #427b58;
  --custom-comment: #504945;
  --custom-num: #8f3f71;
  --custom-decor: #af3a03;
}

[data-md-color-scheme="slate"] {
  --custom-code-fg: #282828;
  --custom-kw: #8f3f71;
  --custom-func: #076678;
  --custom-class: #b57614;
  --custom-str: #427b58;
  --custom-comment: #504945;
  --custom-num: #8f3f71;
  --custom-decor: #af3a03;
}

.md-typeset pre > code {
  background-color: var(--custom-code-bg) !important;
  color: var(--custom-code-fg) !important;
}

.highlight .k, .highlight .kn, .highlight .kp, .highlight .kd {
  color: var(--custom-kw) !important;
  font-weight: bold;
}

.highlight .nf, .highlight .fm {
  color: var(--custom-func) !important;
  font-weight: bold;
}

.highlight .nc {
  color: var(--custom-class) !important;
  font-weight: bold;
}

.highlight .s2, .highlight .s1, .highlight .sd {
  color: var(--custom-str) !important;
}

.highlight .c1, .highlight .cm {
  color: var(--custom-comment) !important;
  font-style: italic;
}

.highlight .mi, .highlight .mf, .highlight .kc {
  color: var(--custom-num) !important;
}

.highlight .nd {
  color: var(--custom-decor) !important;
}

.highlight .nb {
  color: var(--custom-func) !important;
}